.container {
    width: 800px;
    margin: auto;
    padding-bottom: 65px;
    text-align: center;
}

.title {font-size: 30px; margin:0; color:#f7f3f5;}

.pointOfInterestDetails {
    margin: 15px auto;
    width: 100%;
}

.pointOfInterestDetails img {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

.pointOfInterestDetails p {
    color: #314a36;
    margin: 0px;
    word-wrap: break-word;
    white-space: pre-line;
}

.pointOfInterestDetailsContent {
    border: 1px solid #314a36;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.pointOfInterestDetailsContent p {
    color: #e7eee9;
    margin: 0px;
    word-wrap: break-word;
    white-space: pre-line;
}

.pointOfInterestDetailsContent button {
    border: 1px solid #D9483C;
    background-color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #D9483C;
    margin-left: 20px;
    padding: 5px 10px;
}

.pointOfInterestDetailsContent button:hover {
    background-color: #D9483C;
    color: #fff;    
}

.buttons {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    border-top: 1px dashed #314a36;
    padding-top: 20px;
}

.buttons .icon {
    margin-right: 5px;
}


.comments {
    width: 100%;
    height: 100px;
    background-color: rgb(170, 74, 146);
    margin: 25px auto;
    padding: 10px;
}

.comments p {
    color: #f9fcf9;
}


.noComments p{
    color: #011405;
    display: inline;
    margin-right: 5px;
}

.commentForm {
    overflow: hidden;
}


.commentForm textarea{
    border: none;
    background-color: #ee95e9;
    color: black;
    border-radius: 5px;
    line-height: 2em;
    display: block;
    margin: 10px auto;
    width: calc(100% - 26px);
    padding-left: 20px;
    padding-top: 10px;
    height: 200px;

}

.commentForm input[name="Submit"] {
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    background-color: #a72d92;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}
