.notiContainer {
    pointer-events: none;
    display: flex;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}


.notiWrapper {
    pointer-events: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.notification {
    border-radius: 1em;
    margin: 30px;
    text-align: center;
    font-family: "Helvetica";
    position: relative;
    height: 40px;
    overflow: hidden;
    padding: 20px;
    width: 400px;
    background-color: rgb(177, 16, 16);
    border: 2px solid rgb(225, 240, 225);
    color: white;
}

.notification p {
    font-size: 18px;
    right: 10px;
    position: absolute;
    top: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.success {
    background: rgba(23, 154, 23, 0.705);
    color: white;

}

.error {
    background: rgba(255, 0, 0, 0.705);
    color: white;

}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 10pt;
    padding: 5px;
    text-align: center;
    background-color: red;
    border: 2px solid green;
    color: white;
}

.closeBtn:hover {
    cursor: pointer;
    font-size: 14px;
}

.opened {
    animation-name: open-noti;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.none {
    display: none;
}

.closed {
    animation-name: close-noti;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}


/* Page content appearing behind the notifications*/
.page-content {
    display: flex;
    justify-content: center;
    color: ghostwhite;
    font-family: "Segoe UI";
    width: 100%;
    height: 100%;
    padding: 15px;
    word-wrap: break-word;
}

.img-container {
    width: 100%;
}

.text-container {
    width: 500px;
}



/*Notification control buttons*/
button {
    border-radius: 2em;
    font: inherit;

}

/*Animations*/
@keyframes open-noti {

    0% {
        opacity: 0;
        display: none;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        display: block;
        height: 40px;
    }
}

@keyframes close-noti {
    0% {
        opacity: 1;
        height: 40px;
    }

    100% {
        opacity: 0;
        display: none;
        width: 0;
        height: 0;
    }
}