.title{font-weight: bold;
    color:#b74e94;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin: 20px 0 0;
    text-align: center;
}